.ul-col-height{height:40px;}
#ui-body{text-align:center;padding-top:20px;height:70px;padding-bottom:20px;background:#ffffff;}
.ui-right-imgtb{float:left;color:#404040;padding-bottom:10px;font-adweight:bold;font-family: "Microsoft YaHei" ! important;font-size:20px;}
.ui-flex-body{display:inline-block;color:#fff;border-radius:50%;margin-left:10px;background:#d8d8d8;width:25px;height:25px;}
.index-nav{text-align:center;background:#fff;}
.index-nav a{display:block;padding:15px 0;font-size:12px;color:#666;}
.index-nav img{width:45px;}
.index-nav td{border-color:#f4f4f4!important;}
.ul-yj{text-align:center;width:250px; margin-top:30px;height:30px;border: 1px solid #e885ce;-moz-border-radius: 35px; -webkit-border-radius: 35px;border-radius:35px;color:#e885ce;}
.ul-yj-nr{padding-top:5px;}
.ui-flex-bodys{display:inline-block;color:#fff;border-radius:50%;margin-left:10px;background:#e885ce;width:20px;height:20px;}
.ui-bodys{text-align:center;padding-top:20px;height:130px;padding-bottom:20px;background:#ffffff;}
.ui-xinxi{text-align:center;padding-top:20px;height:190px;background:#ffffff;}